.toke-container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.toke-icon {
  font-size: 80px;
}

.toke-text {
  font-size: x-large;
}

.cu {
  color: #73BA3F;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .toke-text {
    font-size: large;
  }
}
