.home-btn {
  border: 2px solid #14C2A3 !important;
  padding: 9px 20px !important;
  color: white !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: large !important;
}

.home-btn:hover {
  border: 2px solid white !important;
  padding: 9px 20px !important;
  color: #14C2A3 !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: large !important;
}

.header-line {
  margin: 13px auto !important;
  width: 80% !important;
  height: 2px !important;
  background-color: rgb(127, 127, 127) !important;
}