.cu {
  color: #73BA3F;
  font-weight: 600;
}

.table-head {
  font-size: x-large !important;
}

.table-h5 {
  font-size: large !important;
}

.table-section {
  user-select: none !important;
}

td {
  vertical-align: middle !important;
}